<a href="https://colab.research.google.com/github/MiRur730/Statistics/blob/main/day72.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_csv('QueryResults.csv')
df.head()

                     m     TagName  Unnamed: 2
0  2008-07-01 00:00:00          c#           3
1  2008-08-01 00:00:00    assembly           8
2  2008-08-01 00:00:00  javascript         162
3  2008-08-01 00:00:00           c          85
4  2008-08-01 00:00:00      python         124

In [ ]:
df=pd.read_csv('QueryResults.csv',names=['DATE','TAG','POSTS'],header=0)

In [ ]:
df.rename(columns = {'DATE':'date','TAG':'Tag','POSTS':'Posts'}, inplace = True)

In [ ]:
df.head()

                  date         Tag  Posts
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124

In [ ]:
df.shape

(1991, 3)

In [ ]:
df.count()

date     1991
Tag      1991
Posts    1991
dtype: int64

In [ ]:
df

                     date         Tag  Posts
0     2008-07-01 00:00:00          c#      3
1     2008-08-01 00:00:00    assembly      8
2     2008-08-01 00:00:00  javascript    162
3     2008-08-01 00:00:00           c     85
4     2008-08-01 00:00:00      python    124
...                   ...         ...    ...
1986  2020-07-01 00:00:00           r   5694
1987  2020-07-01 00:00:00          go    743
1988  2020-07-01 00:00:00        ruby    775
1989  2020-07-01 00:00:00        perl    182
1990  2020-07-01 00:00:00       swift   3607

[1991 rows x 3 columns]

In [ ]:
df['Tag'].loc[df['Posts'].idxmax()]

'python'

In [ ]:
df['Tag'][df['Posts'].idxmax()]

'python'

In [ ]:
df.groupby('Tag').sum()

              Posts
Tag
assembly      34852
c            336042
c#          1423530
c++          684210
delphi        46212
go            47499
java        1696403
javascript  2056510
perl          65286
php         1361988
python      1496210
r            356799
ruby         214582
swift        273055